<link href="https://fonts.googleapis.com/css2?family=Trispace:wght@300;400;500;600&display=swap" rel="stylesheet">
<header>
        <h1>404 NOT FOUND</h1>
    </header>
    <main class="main">
        <section class="img">
            <img src= "https://raw.githubusercontent.com/agustinabellone/404-No-Found/main/Img/Scarecrow.png" alt="">
        </section>
        <section class="text">
            <h2>I have bad news <br> for you</h2>
            <p>The page you are looking for might be removed or is temporarily unvaliable</p>
            <button [routerLink]="['/']">BACK TO HOMEPAGE</button>
        </section>
    </main>